/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    /* Part 1: Enable the McASP0 Hardware */
    fragment@0 {
        target = <&mcasp0>;
        __overlay__ {
            status = "okay";
            #sound-dai-cells = <0>;  /* Prevents the ASoC Error -22 */
            op-mode = <0>;          /* I2S mode */
            tdm-slots = <2>;        /* Stereo format */
            serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */
                2 0 0 0
            >;
            tx-num-evt = <32>;
            rx-num-evt = <32>;
        };
    };

    /* Part 2: Create the Virtual Soundcard */
    fragment@1 {
        target-path = "/";
        __overlay__ {
            sound {
                compatible = "simple-audio-card";
                simple-audio-card,name = "INMP441-Mic";
                simple-audio-card,format = "i2s";
                simple-audio-card,bitclock-master = <&dailink0_master>;
                simple-audio-card,frame-master = <&dailink0_master>;

                dailink0_master: simple-audio-card,cpu {
                    sound-dai = <&mcasp0>;
                };

                simple-audio-card,codec {
                    sound-dai = <&dmic_codec>;
                };
            };

            dmic_codec: dmic_codec {
                compatible = "dmic-codec";
                #sound-dai-cells = <0>;
            };
        };
    };
};